Repository NostrGit/NostrGit, pull requests merged in 2023-03, with the labels that each got.

#36 Update coding conventions.
  README.md
  documentation/development/contributing.md
Labels: documentation

#38 Update documentation
  README.md
  documentation/development/contributing.md
  documentation/nostr/NIPs.md
  documentation/nostr/nostr.md
  documentation/vision.md
Labels: documentation

#68 Link NIP-17 draft to NIPs.md
  documentation/nostr/NIPs.md
Labels: documentation

#101 Screenshots or loom videos to PRs
  documentation/development/contributing.md
Labels: documentation

#114 Use Issues only, not Discussions
  documentation/development/contributing.md
Labels: documentation

#112 Troubleshooting Vercel
  documentation/development/contributing.md
Labels: documentation

#132 Lucide icon components in contributing.md
  documentation/development/contributing.md
Labels: documentation

#131 Subtle design improvements in sign in
  src/app/login/page.tsx
Labels: UI

#143 Update readme about using issues not discussions
  README.md
Labels: documentation

#144 Update readme with link to bitcoin-development docs
  README.md
Labels: documentation

#155 feat: basic /pulls page ui
  src/app/pulls/page.tsx
  src/components/ui/header.tsx
Labels: UI

#157 feat:ui for [entity]/[repo]/issues page
  src/app/[entity]/[repo]/issues/new/page.tsx
  src/app/[entity]/[repo]/issues/page.tsx
Labels: UI, work in progress

#158 Added hex, nip-07 login
  .eslintrc.js
  package.json
  src/app/login/page.tsx
  src/lib/nostr/NostrContext.tsx
  src/lib/utils.ts
  yarn.lock
Labels: nostr, core

#162 Page for creating a new issue /[entity]/[repo]/issues/new/
  src/app/[entity]/[repo]/issues/new/page.tsx
  src/components/mobile-nav.tsx
  src/components/ui/textarea.tsx
Labels: UI

#171 Update contributing.md
  documentation/development/contributing.md
Labels: documentation

#178 clean up css on /issues and /pulls pages
  src/app/issues/page.tsx
  src/app/pulls/page.tsx
Labels: UI

#185 181 fix hydration errors
  src/app/layout.tsx
  src/lib/hooks/useIsMounted.tsx
Labels: bug

#192 Tailwindui to contributing.md
  documentation/development/contributing.md
Labels: documentation

#199 /signup UI & functionality
  src/app/[entity]/[repo]/issues/new/page.tsx
  src/app/[entity]/[repo]/issues/page.tsx
  src/app/[entity]/[repo]/pulls/page.tsx
  src/app/signup/page.tsx
  src/components/ui/header.tsx
Labels: UI, nostr
